.main-nav {
    text-transform: uppercase;
    font-size: 15%;
}

a:hover {
    color: blueviolet;
    font-size: 150%; 
    
}

a:link {
    color: darkmagenta;
}

.group:after {
  		content: "";
		display: table;
		clear: both;
	}

#mainNav {
    list-style: none;
}

.rotate-div {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}